<template>

<nav id="brand">Pure.css Web Components Menu Example</nav>

<!-- Menu toggle -->
<a href="#menu" id="menuLink" class="menu-link">
  <!-- Hamburger icon -->
  <span></span>
</a>

<nav id="menu">
  <div class="pure-menu custom-restricted-width">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="index.html" class="pure-menu-link">Top</a></li>
        <li class="pure-menu-item"><a href="page2.html" class="pure-menu-link">Page 2</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Dummy 3</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Dummy 4</a></li>
    </ul>
  </div>
</nav>

<style>
#brand{
  font-family:serif;
  font-size:x-large;
  font-weight:bold;
}
</style>

</template>